.vjs-option-btn{
    border : 2px solid white;
    padding: 20px;
    background-color: blue!important;
    height: 3rem!important;
    width: 6rem!important;
    margin-top: 21rem!important;
    margin-left: 5rem!important;
    text-align: center!important;
  }